body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* background-color: #31344b; */
}

body {
  background-color: #3f4257;
  color: white;
}

.logo {
  background-color: #292c41;
  border-right: 1px solid #494f5e;
}

.logo h2 {
  margin-bottom: 0;
}

.logo-hover:hover {
  color: #8baafa;
}

.grip-lines {
  background-color: #31344b;
  color: white;
}

.grip-lines:hover {
  color: #8baafa;
  background-color: #56596e;
}

.icon {
  padding-right: 8px;
}

.body-modal {
 background-color: #31344b;
}

.head-modal {
  background-color: #56596e;
}

.pet-sitter-form, .pet-sitter-index {
  border: 2px solid #757d90;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  height: 90vh;
  width: 78%;
  background-color: #56596e;
}

.pet-sitter-show {
  border: 1px solid #8baafa;
  height: 100vh;
  overflow-y: auto;
}

.pet-sitter-show h5 {
  background-color: #56596e;
  border-radius: 10px;
}

.profile-pic {
  width: 125px;
  height: auto;
  border-radius: 50%;
  margin-right: 50px;
}

.profile-pic-show {
  width: 200px;
  height: auto;
  border-radius: 50%;
}


::-webkit-scrollbar {
  background-color: #292c41;
}

::-webkit-scrollbar-thumb {
  background-color: #8baafa;
  border-radius: 2px; 
}

.link {
  text-decoration: none;
  color: #8baafa;
  font-weight: bold;
  font-size: 1.2rem;
}

.link:hover {
  color: #c0cff8;
  text-shadow: 1px 1px 3px black;
}

.page-heading {
  text-shadow: 2px 2px black;
}

.homepage {
  margin: 0 auto;
  margin-top: 8%;
  width: 60vw;
}

.homepage h1 {
  font-size: 3rem;
}

.homepage img {
  width: 12vw;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 5px;
}

.db-div-1, .db-div-2 {
  color: black;
  border: 1px solid pink;
  height: 250px;
  margin: 40px 20px 20px 20px;
  overflow-y: auto;
  border: 2px solid #757d90;
  border-radius: 10px;
  background-color: #afc2f2;
  box-shadow: 1px 1px 1px 2px #333335;
}

.db-div-2 {
  height: 300px;
  margin: 20px;
}

.booking-form {
  height: 100vh;
  width: 25vw;
  background-color: #56596e;
  padding-top: 35%;
  display: flex;
  flex-flow: wrap;
  border-bottom-left-radius: 13px ;
  border-bottom-right-radius: 13px ;
}
